<head>
    <meta charset="UTF-8">
    <title> {{ titulo }} </title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="icon" href="assets2/img/mdb-favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />

</head>