<!DOCTYPE html>
<html lang="es">

{{> header }}

<body>
    <div class="d-flex flex-column min-vh-100 container">
        
        {{> navbar }}

        <div class="jumbotron">
            <h1 class="display-4">Acerca de</h1>
            <p class="lead">Está página fue creada por Camila Cedeño.</p>
            <hr class="my-4">
            <p>Nombre: Camila Cedeño Castro.</p>
            <p>Edad: 19 años.</p>
            <p>Carrera: Ingeniería en Ciencias de la Computación.</p>
        </div>

       {{> footer }}

    </div>
</body>

</html>